html
    head
        title Zulip Oauth Client
        link(rel="icon", href="data:,")
        link(rel="stylesheet" href="/index.css")
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://unpkg.com/deepmerge@4.2.2/dist/umd.js')
        script(src='/split_pane.js')
        script(src='/model.js')
        script(src='/messages.js')
        script(src='/users.js')
        script(src='/streams.js')
        script(src='/tictactoe.js')
        script(src='/main.js')
        script(src='/index.js')
        script
            | page_params = !{page_params}
    body
        #main
