html
    #loading-js
        p downloading js
    head
        title Zulip Oauth Client
        link(rel="icon", href="data:,")
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://unpkg.com/deepmerge@4.2.2/dist/umd.js')
        script(src='/tab_bar.js')
        script(src='/split_pane.js')
        script(src='/model.js')
        script(src='/utils.js')
        script(src='/pm_view.js')
        script(src='/transmit.js')
        script(src='/compose_box.js')
        script(src='/messages.js')
        script(src='/users.js')
        script(src='/events.js')
        script(src='/topics.js')
        script(src='/streams.js')
        script(src='/main.js')
        script(src='/layout.js')
        script(src='/index.bundle.js')
        script
            | page_params = !{page_params}
    body
        #main
