#zflex {
    display: flex;
    width: 100%;
    height: 100%;
    & > .flex-main {
        max-width: 100%;
        max-height: 100%;
        flex-grow: 1;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

* {
    /* We want to style using paddings to keep calculations simpler */
    box-sizing: border-box;
    margin: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* panes layout */

.layout-root {
    @extend #zflex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    & > .help-message {
        color: red;
    }

    & > .flex-main {
        &.layout-horizontal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
        &.layout-panes-4 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }
        &.layout-panes-5 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            & > div:nth-child(1) {
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
        &.layout-panes-6 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
        &.layout-panes-7 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            & > div:nth-child(1) {
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
        &.layout-panes-8 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        &.layout-panes-9 {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
        &.layout-maximized {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1000px 1fr 1fr;

            & > div:nth-child(1) {
                /* span absurdly large number */
                grid-row-start: span 1000;
            }
        }
        & > div {
            flex-grow: 1;
            flex-basis: 0;
            min-width: 0;
            min-height: 0;
            max-width: 1000px;
            padding: 10px;
            border-right: 1px green solid;
            border-left: 1px green solid;
        }
    }
}

/* pane wrapper to show controls etc */

.pane-wrapper {
    @extend #zflex;
    flex-direction: column;
}

/* individual pane */

.tab-bar {
    @extend #zflex;
    flex-direction: column;

    & > .top {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid blue;

        & > .items {
            display: flex;
            flex-direction: row;
        }
    }
    & > .bottom {
        padding-top: 5px;
    }
}

/* split pane widget */

.split-pane {
    @extend #zflex;
    flex-direction: row;
    /* This is fudged for now, since I am more concerned
       about the top of the page looking nice, without
       hard coding a height up there.
    */

    & > .left {
        .search {
            padding-bottom: 5px;
        }
        .items {
            padding-right: 5px;
            overflow-y: auto;
            & > div {
                padding: 1px;
            }
        }
    }

    & > .right {
        padding-left: 10px;
        flex-grow: 1;
    }
}

/* pm view widget */

.pm-view {
    @extend #zflex;
    flex-direction: column;
}

img {
    max-width: 300px;
}

.modal {
    /* right now our modal class actually takes up an entire pane */
    padding-top: 40px;
    padding-bottom: 300px;
}

.modal p {
    padding: 10px;
    font-size: 130%;
}

.modal button {
    font-size: 130%;
}

.cancel-red {
    color: red;
}

.ok-green {
    color: green;
}

.button-row {
    display: flex;
    justify-content: space-around;
}

.tab-bar .top button {
    border: none;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.split-pane .left button {
    border: none;
    padding: 7px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.tab-bar .top button.active-tab,
.split-pane .left button.active-item {
    color: white;
    background-color: #008cba;
}

table.game-board,
.game-board td {
    border-color: #008cba;
}

.navbar {
    display: inline-flex;
    padding: 7px;
    align-items: flex-end;
    justify-content: space-between;
    width: 100vw;
    border-bottom: 1px solid black;
}

.main > div {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
}

.message-list {
    /* height: 90%; */
    overflow-y: scroll !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.message-list-wrapper {
    list-style-type: none;
    padding-right: 10px;
    padding-inline-start: 10px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
}

.message-list-wrapper .message {
    padding-inline-start: 12px;
}

.message-list-wrapper .name {
    padding-top: 3px;
}

.compose-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.compose-box textarea {
    flex-grow: 1;
}

/* message styling */

.message {
    .codehilite {
        padding-top: 5px;
        padding-bottom: 5px;
        pre {
            background: #ccc;
            padding: 10px;
            border-radius: 5px;
            overflow-x: scroll;
        }
    }
}
